<% if(typeof (errorMessage) !='undefined' ){%>
    <div class="row">
        <div class="col-12">
            <p class="card" style="color:red">

                <%=errorMessage%>
            </p>
        </div>
    </div>
    <%} %>