<nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">
    <div class="container-fluid">        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-nav-scroll">
                <li class="nav-item active">
                    <button class="btn btn-sm btn-light nav-link" onclick="getDashboard()">Dashboard</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm btn-light nav-link" title="Profile coming soon..."
                        onclick="getProfile()">Profile
                        (WIP)</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm btn-light nav-link" onclick="getAccounts()">Accounts</button>
                </li>
            </ul>
        </div>

    </div>

</nav>