<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-collapse row d-flex" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-nav-scroll justify-content-around ">
                <li class="nav-item active">
                    <a href="/" class="btn btn-sm btn-light nav-link">Dashboard</a>
                </li>            
                <li class="nav-item">
                    <a href="/accounts" class="btn btn-sm btn-light nav-link">Accounts</a>
                </li>
            </ul>
        </div>

    </div>

</nav>