<div class="row">
    <h1>ACCOUNT PAGE</h1>
</div>
<div class="row d-flex justify-content-between">
    <div class="col-6 d-flex justify-content-start">
        <form class="form-group" action="">
            <label class="form-label" for="accountID">Your Account Number</label>
            <input class='form-control' type="text" name="accountID" id="accountID" value="<%=account.ID%>" readonly>
            <label for="balance">Balance</label>
            <input class='form-control' type="text" name="balance" id="balance" value="<%=account.balance%>" readonly>
            <label for="accountName">Account Name</label>
            <input class='form-control' type="text" name="accountName" id="accountName" value="<%=account.accountName%>" readonly>
        </form>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <form class="form-group" action="">
            <label class="form-label" for="creditorID">Recipient Account Number</label>
            <input required class='form-control' type="text" name="creditorID" id="creditorID">
            <label class="form-label" for="creditorID">Amount</label>
            <input required class='form-control' type="number" name="amount" id="amount">  
            <br>          
            <button onclick="payAccount()" class='form-control' type="button" class="btn btn-sm btn-primary">Pay</button>
        </form>
    </div>

</div>