<%- include('../includes/header.ejs')%>
    <div class="row">
        <div class="col-12">
            <% if(typeof (userMessage) !='undefined' ){%>
                <%=userMessage%>
                    <%} %>
        </div>
    </div>
    <div class="row d-flex justify-content-around">
        <div class="col-4">
            <fieldset>
                <legend>Log In</legend>
                <p><%=userMessage%></p>
                <form class="form-group" action="/auth/login" , method="POST">
                    <label class="form-label" for="username">Username</label>
                    <input required class="form-control" type="text" name="username" id="loginUN">
                    <label class="form-label" for="username">Password</label>
                    <input required class="form-control" type="password" name="password" id="loginPW">
                    <button class="form-control btn btn-info" type="submit">Log In</button>
                </form>
            </fieldset>
        </div>        
        <div class="col-4">
            <fieldset>
                <legend>Sign Up</legend>
                <form class="form-group" action="/auth/signup" , method="POST">
                    <label class="form-label" for="username">Username</label>
                    <input required class="form-control" type="text" name="username" id="signUpUN">
                    <label class="form-label" for="username">Password</label>
                    <input required class="form-control" type="password" name="password" id="signUpPW">
                    <button class="form-control btn btn-info" type="submit">Sign Up</button>
                </form>
            </fieldset>
        </div>
    </div>
    <%- include('../includes/footer.ejs')%>