<%- include('../includes/header.ejs')%>
    <div class="h-100 row d-flex flex-column align-items-center">
        <div class="row">
            <div class="mb-auto d-none d-sm-block">
                <%- include('../includes/navigation.ejs')%>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col">
                <h1>User List</h1>
                <div id="userlist">

                </div>
            </div>
            <div class="col">
                <h1>User Info</h1>
                <div id="userinfo">
                    
                </div>
            </div>
            <div class="col">
                <h1>Account Info</h1>
                <div id="accountinfo">
                    
                </div>
            </div>
        </div>
        <br><br>
        <div class="col d-block d-sm-none fixed-bottom">
            <%- include('../includes/navigation.ejs')%>
        </div>
    </div>
    <%- include('../includes/footer.ejs')%>