<%- include('../includes/header.ejs')%>
    <div class="row d-flex justify-content-between">
        <%- include('../includes/navigation.ejs')%>
            <div id="contentDiv" class="col-8 d-flex flex-column">               
            </div>
        <%- include('../includes/feed.ejs')%>
    </div>
    <%- include('../includes/footer.ejs')%>