<%- include('../includes/header.ejs')%>
    <div class="h-100 row d-flex flex-column align-items-center">
        <div class="row">
            <div class="mb-auto d-none d-sm-block">
                <%- include('../includes/navigation.ejs')%>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div id="contentDiv" class="col-sm-10 col-lg-12">
                <h1>DASHBOARD</h1>
                <a class="btn btn-light" href="/beneficiary">Beneficiaries</a>
            </div>
        </div>
        <br><br>
        <div class="col d-block d-sm-none fixed-bottom">
            <%- include('../includes/navigation.ejs')%>
        </div>
    </div>
    <%- include('../includes/footer.ejs')%>