<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <td>
                Account Number : <%=account.ID%>
            </td>
        </tr>
        <tr>
            <td>
                Account name : <%=account.accountName%>
            </td>
        </tr>
        <tr>
            <td>
                Balance : <%=account.balance%>
            </td>
        </tr>
        <tr>
            <td>
                Status : <% if(account.isActive){%>Open<%}else{%>Closed<%}%>
            </td>
        </tr>     
    </table>
</div>