<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <td>
                Account Number : <%=account.ID%>
            </td>
        </tr>
        <tr>
            <td>
                Account name : <%=account.accountName%>
            </td>
        </tr>
        <tr>
            <td>
                Balance : <%=account.balance%>
            </td>
        </tr>
        <tr>
            <td>
                Status : <% if(account.isActive){%>Open<%}else{%>Closed<%}%>
            </td>
        </tr>
    </table>
</div>
<br>
<div class="col mb-auto d-flex flex-column">
    <button class="btn btn-light align-content-end" onclick="getStatement('<%=account.ID%>')">View
        Statement</button>
    <br>
    <div id="statement" style="height: 500px" class="table-responsive overflow-x-hidden">
    </div>
</div>